<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{name}}</title>
  </head>
  <body>
    <h1>About me</h1>
    <a href="/">Home</a>
    <a href="/about">About me</a>

    <p>Blah blah blah</p>
  </body>
</html>
